@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap/dist/css/bootstrap.min.css';


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.title {
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  margin-top: 30px;
}


h1 {
  text-align: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 18px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.button-container button:hover {
  background-color: #004691;
  font-size: 17px;
}


/*waiting wheel*/
.processing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}


.fa-spinner {
  margin-right: 10px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}