.dashboard-container {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}


.top-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 90px;
  height: 600px;
}

.doughnut-chart-container {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  background: #f9f9f9;
  padding: 25px;
  transition: all 0.3s ease;
  padding-bottom: 170px;
}

.doughnut-chart-container,
.right-section {
  height: 600px;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  padding: 25px;
  box-sizing: border-box;
  margin-bottom: 20px;
}



.top-tweets-table-container-positive,
.top-tweets-table-container-negative {
  overflow: hidden;
  border-radius: 10px;
}

.doughnut-chart-container {
  box-sizing: border-box;
}


.top-tweets-table-container-positive table,
.top-tweets-table-container-negative table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

.top-tweets-table-container-positive th,
.top-tweets-table-container-negative th,
.top-tweets-table-container-positive td,
.top-tweets-table-container-negative td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
}

.top-tweets-table-container-positive th {
  background-color: #2bcf30bc;
  color: white;
}

.top-tweets-table-container-negative th {
  background-color: #ff0000a1;
  color: white;
}

.top-tweets-table-container-positive tr:nth-child(even),
.top-tweets-table-container-negative tr:nth-child(even) {
  background-color: #f2f2f2;
}

.top-tweets-table-container-positive tr:hover,
.top-tweets-table-container-negative tr:hover {
  background-color: #ddd;
}

@media (max-width: 768px) {
  .top-section {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    width: 100%;
  }
}

.bottom-section {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.sentiment-over-time-chart {
  margin-top: -20px;
  margin-bottom: -35px;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}



.sentiment-over-time-chart .chart-container {
  margin: 0 auto;
  max-width: 30%;
}


.chart-legend {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 5px;
}

.legend-color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.legend-label {
  font-size: 14px;
}

.date-format-explanation {
  font-size: 12px;
  color: #666;
  text-align: center;
  margin-top: 10px;
}

.title {
  text-align: center;
  font-size: 24px;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
