.dashboard-container-heatmap {
  display: flex;
  flex-direction: column;
  height: auto;
}

.main-content-heatmap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}


.slider-container {
  width: 100%;
  padding: 20px 0;
}

.slider {
  -webkit-appearance: none; 
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .9s;
  transition: background-color 2.9s ease; /* Anima el color de fondo del slider */
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #636363;
  cursor: pointer;
  transition: background-color 2.9s ease;

}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4c61af;
  cursor: pointer;
  transition: background-color 2.9s ease;

}

.slider-date-display {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: block;
  font-style: italic;
}

.play-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.play-button {
  background-color: #6893c9;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.6s;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.play-button:hover {
  background-color: #456fa0;
}

.play-button:active {
  transform: scale(0.98);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}



.map-and-data-heatmap {
  display: flex;
  flex-grow: 1;
}

.map-section-heatmap {
  flex-grow: 3;
  margin-right: 0;
  order: 2;
}

.data-summary-section-heatmap {
  flex-grow: 1;
  max-width: 300px;
  margin-right: 40px;
  order: 1;
}

.data-summary-header-heatmap {
  text-align: center;
  font-size: 110%;
  font-weight: bold;
}

.data-summary-heatmap {
  flex-grow: 4;
  background-color: #6b6b6b16;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  max-height: 250px;
}

.total-tweets-summary-heatmap,
.average-sentiment-summary-heatmap {

  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  color: #000000;
}

.explanation-sentiment-summary-heatmap {

  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  color: #000000;
}


.explanation-sentiment-summary-heatmap span {
  font-size: 90%;
  color: #4c4c4c;
}


@media (max-width: 768px) {
  .main-content-heatmap {
    flex-direction: column;
  }

  .map-and-data-heatmap {
    flex-direction: column;
  }

  .map-section-heatmap,
  .data-summary-section-heatmap {
    margin-right: 0;
    max-width: none;
    flex-grow: 1;
  }
}

.map-map-heatmap {
  width: 100%;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.play-button {
  background-color: #717171;
  border: 2px solid #94a1b1;
  color: #ffffff;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.play-button:hover {
  background-color: #7c838d;
  color: #ffffff;
  border-color: #94a1b1;
  font-size: 16.5px;
  text-align: center;

  transform: scale(1.03);
}

.play-button:focus {
  box-shadow: 0 0 0 2px rgba(104, 147, 201, 0.5);
}
