.dashboard-container-pointmap {
  display: flex;
  height: 80vh;
}

.main-content-pointmap {
  flex-grow: 1;
  display: flex;
  padding: 20px;
}

.map-and-data-pointmap {
  display: flex;
  flex-grow: 1;
}

.map-section-pointmap {
  flex-grow: 4;
  margin-right: 40px;
}

.data-summary-section-pointmap {
  flex-grow: 4;
  margin-right: 40px;
}

.data-summary-header-pointmap {
  text-align: center;
  font-size: 110%;
  font: bold;
}

.data-summary-pointmap {
  flex-grow: 4;
  background-color: #6b6b6b16;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  max-height: 250px;
}

.total-tweets-summary-pointmap {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.total-tweets-summary-pointmap p {
  margin: 0;
  color: #333;
  font-weight: bold;
}


.Highest-Sentiment-tweets-summary-pointmap span,
.Lowest-Sentiment-tweets-summary-pointmap span {
  font-size: 90%;
  color: #4c4c4c;
}


.Highest-Sentiment-tweets-summary-pointmap {
  background-color: #28a7463f;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  color: #000000;

}

.Lowest-Sentiment-tweets-summary-pointmap {
  background-color: #df001645;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  color: #000000;
}


.map-section-pointmap {
  flex-basis: auto;
  flex-shrink: 0;
  flex-grow: 0;
}

.pointmap-marker {
  stroke: #ffffff;
  stroke-width: 1.5;
  transition: all 0.3s ease;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}



@media (max-width: 768px) {
  .main-content-pointmap {
    flex-direction: column;
    padding: 10px;
  }

  .map-and-data-pointmap {
    flex-direction: column;
  }

  .map-section-pointmap {
    margin-right: 0;
  }
}

.legend {
  padding: 6px 8px;
  font-size: 14px;
  line-height: 24px;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}