.user-selector {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.user-selector:focus {
  border-color: #007BFF;
}


.user-selector option {
  background-color: #f4f4f4;
  color: #333;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 400px;
  margin: 0 auto;
}

.user-list li {
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-list li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-list li:last-child {
  margin-bottom: 0;
}


.user-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.user-table th,
.user-table td {
  border: 1px solid #eee;
  padding: 12px;
  text-align: left;
}

.user-table th {
  background-color: #4CAF50;
  color: #fff;
}

.user-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.user-table tbody tr:nth-child(even) {
  background-color: #e6e6e6;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
}

.user-table th {
  background-color: #4CAF50;
  color: #fff;
}

.user-table tbody tr:hover {
  background-color: #d9d9d9;
}

.button-load-more-users {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
