@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap/dist/css/bootstrap.min.css';



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.tweet-table {
  width: 100%;
  border-collapse: collapse;
}

.tweet-table th,
.tweet-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}


.tweet-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.tweet-table tbody tr:hover {
  background-color: #f9f9f9;
}


.title {
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  margin-top: 30px;
}



.containerApiTwitter {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 8%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 18px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.button-container button:hover {
  background-color: #004691;
  font-size: 17px;
}


.btnApiTwitter {
  display: block;
  margin: 0 auto;
  width: 25%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #3ac775;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.btnApiTwitter:hover {
  background-color: #1c8343;
  font-size: 17px;
}


.input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.messageApiTwitter {
  margin-top: 40px;
  padding: 3px;
  width: 50%;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  background-color: #1eac81;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.about-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 15%;
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.about-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.about-description {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.about-section-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.about-section-description {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

.about-team-list {
  list-style: none;
  
  padding: 0;
  margin: 0;
}

.about-team-list li {
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
}

.dataset-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.drop-zone {
  background-color: #f9f9f9;
  color: #555;
  cursor: pointer;
  padding: 50px;
  text-align: center;
  transition: background-color 0.3s;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.drop-zone:hover {
  background-color: #e9e9e9;
}

.drop-zone.dragging {
  background-color: #f0f0f0;
  border-style: solid;
  border-width: 2px;
  border-color: #aa3838;
}

.drop-zone p {
  margin-top: 20px;
  font-size: 18px;
}

.drop-zone::before {
  content: '\f07c';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 40px;
  color: #274377;
  display: block;
  margin-bottom: 20px;
}



.upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.upload-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 70px;
  background-color: #f9f9f9;
  color: #555;
  font-size: 30px;
  text-align: center;
}


.custom-file-upload {
  background-color: #4c8baf;
  color: white;
  border: none;
  border-radius: 18px;
  margin-top: 15%;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.custom-file-upload:hover {
  background-color: #2f6280;
  font-size: 17px;
}

#file-upload {
  display: none;
}

.file-info {
  margin-bottom: 10px;
}

.upload-button {
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 18px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.upload-button:hover {
  font-size: 17px;
  background-color: #38863c;
}

.upload-message {
  position: relative;
  display: inline-block;
  background-color: #1976d2;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.upload-message {
  position: relative;
  display: inline-block;
  background-color: #8ac2d8;
  color: white;
  padding: 10px;
  border-radius: 18px;
  font-size: 14px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.upload-message::before {
  content: "\f05a";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: -10px;
  left: -10px;
  font-size: 20px;
  font-weight: bold;
  background-color: #2196f3;
  color: white;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.map-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.map-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}


.heatmap-container {
  width: 100%;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  
}


.map-map {
  width: 100%;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}


.pointmap-marker {
  stroke: none;
  transition: all 0.3s ease;
}


/* Estilo del círculo verde (positivo) */
.green-circle {
  width: 10px;
  height: 10px;
  background-color: rgb(41, 206, 41);
  border-radius: 50%;
  display: inline-block;
  margin-right: 15%;
}

/* Estilo del círculo amarillo (neutral) */
.yellow-circle {
  width: 10px;
  height: 10px;
  background-color: rgb(228, 238, 83);
  border-radius: 50%;
  display: inline-block;
  margin-right: 7%;
}

/* Estilo del círculo rojo (negativo) */
.red-circle {
  width: 10px;
  height: 10px;
  background-color: rgb(213, 53, 53);
  border-radius: 50%;
  display: inline-block;
  margin-right: 7%;
}


.user-selector {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.user-selector:focus {
  border-color: #007BFF;
}


.user-selector option {
  background-color: #f4f4f4;
  color: #333;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 400px;
  margin: 0 auto;
}

.user-list li {
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-list li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-list li:last-child {
  margin-bottom: 0;
}


.user-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.user-table th, .user-table td {
  border: 1px solid #eee;
  padding: 12px;
  text-align: left;
}

.user-table th {
  background-color: #4CAF50;
  color: #fff;
}

.user-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.user-table tbody tr:nth-child(even) {
  background-color: #e6e6e6;
}

.user-table th, .user-table td {
  border: 1px solid #ddd;
}

.user-table th {
  background-color: #4CAF50;
  color: #fff;
}

.user-table tbody tr:hover {
  background-color: #d9d9d9;
}

.nav-link {
  padding-bottom: 0.5rem;
  transition: color 0.3s ease-in-out;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1d3b5b49;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after, .nav-link.active::after {
  width: 50%;
}

.navbar {
  background-color: #000000dd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
}

.nav-link:hover, .nav-link.active {
  color: #000000;
  font-weight: bold;
  font-size: 102%;
}

.navbar-brand:hover, .navbar-brand.active {
  font-weight: bold;
}

.navbar-toggler {
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#navbarNavAltMarkup {
  background-color: #f8f9fa;
}

@media (max-width: 992px) {
  .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navbar-nav .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}




/* Definimos algunas variables css para los colores y los tamaños */
:root {
  --primary-color: #00060f1b;
  --secondary-color: #f8f9fa;
  --text-color: #202124;
  --card-width: 250px;
  --card-height: 50px;
  --card-gap: 20px;
}

/* Usamos flexbox para centrar el título y la lista de colecciones */
.collections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Usamos grid para crear una cuadrícula de colecciones con espacios entre ellas */
.collections-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  grid-gap: var(--card-gap);
  list-style: none;
  padding: 0;
}

/* Estilizamos cada elemento de la lista como una tarjeta con un borde, un fondo y un efecto de sombra */
.collection-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--card-width);
  height: var(--card-height);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Estilizamos el icono o la imagen de cada colección con un tamaño y un margen */
.collection-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 10%;
}

/* Estilizamos el nombre de cada colección con un color y una fuente */
.collection-name {
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: 24px;
}

/* Añadimos un efecto de transición al pasar el cursor sobre cada tarjeta */
.collection-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.278);
}

/* Añadimos un efecto de enfoque al hacer clic sobre cada tarjeta */
.collection-card:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.button-load-more{
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}


.custom-input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 1rem;
}

.custom-input:focus {
  outline: none;
  border-color: #5C7AEA;
}

.processing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.fa-spinner {
  margin-right: 10px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.total-tweets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}



.doughnut-chart-container {
  width: 400px;
  height: 400px;
  position: relative;
}

/* Cargando... estilo */
.total-tweets-container p {
  color: #555;
  font-size: 18px;
}


.custom-zoom-control .leaflet-control-zoom-in, 
.custom-zoom-control .leaflet-control-zoom-out {
  background-color: white;
  color: black;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  font-size: 18px;
}

.custom-zoom-control .leaflet-control-zoom-in {
  margin-bottom: 8px;
}

.custom-zoom-control .leaflet-control-zoom-in:hover, 
.custom-zoom-control .leaflet-control-zoom-out:hover {
  background-color: #f0f0f0;
  color: #333;
}

.custom-zoom-control .leaflet-bar a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}


.legend {
  padding: 6px 8px;
  font-size: 14px;
  line-height: 24px;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.marker-cluster-small {
  background-color: #ff9999; /* Color para clusters pequeños */
}

.marker-cluster-medium {
  background-color: #ff6666; /* Color para clusters medianos */
}

.marker-cluster-large {
  background-color: #ff3333; /* Color para clusters grandes */
}

.dashboard-container-pointmap {
  display: flex;
  height: 80vh;
}

.main-content-pointmap {
  flex-grow: 1;
  display: flex;
  padding: 20px;
}

.map-and-data-pointmap {
  display: flex;
  flex-grow: 1;
}

.map-section-pointmap {
  flex-grow: 4;
  margin-right: 40px;
}

.data-summary-section-pointmap {
  flex-grow: 4;
  margin-right: 40px;
}

.data-summary-header-pointmap {
  text-align: center;
  font-size: 110%;
  font: bold;
}

.data-summary-pointmap {
  flex-grow: 4;
  background-color: #6b6b6b16;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  max-height: 250px;
}

.total-tweets-summary-pointmap {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.total-tweets-summary-pointmap p {
  margin: 0;
  color: #333;
  font-weight: bold;
}


.Highest-Sentiment-tweets-summary-pointmap span,
.Lowest-Sentiment-tweets-summary-pointmap span {
  font-size: 90%;
  color: #4c4c4c;
}


.Highest-Sentiment-tweets-summary-pointmap {
  background-color: #28a7463f;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  color: #000000;
  
}

.Lowest-Sentiment-tweets-summary-pointmap {
  background-color: #df001645;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  color: #000000;
}


.map-section-pointmap {
  flex-basis: auto;
  flex-shrink: 0;
  flex-grow: 0;
}



@media (max-width: 768px) {
  .main-content-pointmap {
      flex-direction: column;
      padding: 10px;
  }

  .map-and-data-pointmap {
      flex-direction: column;
  }

  .map-section-pointmap {
      margin-right: 0;
  }
}


.dashboard-container-heatmap {
  display: flex;
  height: 80vh;
}

.main-content-heatmap {
  flex-grow: 1;
  display: flex;
  padding: 20px;
}

.map-and-data-heatmap {
  display: flex;
  flex-grow: 1;
}

.map-section-heatmap {
  flex-grow: 3;
  margin-right: 0;
  order: 2;
}

.data-summary-section-heatmap {
  flex-grow: 1;
  max-width: 300px;
  margin-right: 20px;
  order: 1;
}

.data-summary-header-heatmap {
  text-align: center;
  font-size: 110%;
  font-weight: bold;
}

.data-summary-heatmap {
  flex-grow: 4;
  background-color: #6b6b6b16;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  max-height: 250px;
}

.total-tweets-summary-heatmap,
.average-sentiment-summary-heatmap {

  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  color: #000000;
}

@media (max-width: 768px) {
  .main-content-heatmap {
      flex-direction: column;
  }

  .map-and-data-heatmap {
      flex-direction: column;
  }

  .map-section-heatmap,
  .data-summary-section-heatmap {
      margin-right: 0;
      max-width: none;
      flex-grow: 1;
  }
}
